In [182]:
import pandas as pd
import seaborn as sns
from sklearn.neighbors import NearestNeighbors
import numpy as np
import math
df.dtypes

key                               object
fare_amount                      float64
pickup_datetime      datetime64[ns, UTC]
pickup_longitude                 float64
pickup_latitude                  float64
dropoff_longitude                float64
dropoff_latitude                 float64
passenger_count                    int64
dtype: object

In [159]:
df = pd.read_csv('train.csv', chunksize = 100000)

for i in df:
    df = pd.DataFrame(i)
    break

In [181]:
df = df[(df['pickup_longitude'] < -73.5) & (df['pickup_longitude'] > -74.2)]
df = df[(df['pickup_latitude'] < 40.9) & (df['pickup_latitude'] > 40.4)]
#df['fare_amount'] = pd.qcut(df['fare_amount'], 3, labels = [0,1,2])
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

In [191]:
dlong = (df['pickup_longitude'] - df['dropoff_longitude']) * 111
dlat = (df['pickup_latitude'] - df['dropoff_latitude']) * 85

distance = np.sqrt(dlong ** 2 + dlat ** 2)

df['dayofweek'] = [x.weekday() for x in df['pickup_datetime']]
df['hourofday'] = [x.hour for x in df['pickup_datetime']]
df

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,dayofweek,hourofday
0,2009-06-15 17:26:21.0000001,4.50,2009-06-15 17:26:21+00:00,-73.844311,40.721319,-73.841610,40.712278,1,0,17
1,2010-01-05 16:52:16.0000002,16.90,2010-01-05 16:52:16+00:00,-74.016048,40.711303,-73.979268,40.782004,1,1,16
2,2011-08-18 00:35:00.00000049,5.70,2011-08-18 00:35:00+00:00,-73.982738,40.761270,-73.991242,40.750562,2,3,0
3,2012-04-21 04:30:42.0000001,7.70,2012-04-21 04:30:42+00:00,-73.987130,40.733143,-73.991567,40.758092,1,5,4
4,2010-03-09 07:51:00.000000135,5.30,2010-03-09 07:51:00+00:00,-73.968095,40.768008,-73.956655,40.783762,1,1,7
5,2011-01-06 09:50:45.0000002,12.10,2011-01-06 09:50:45+00:00,-74.000964,40.731630,-73.972892,40.758233,1,3,9
6,2012-11-20 20:35:00.0000001,7.50,2012-11-20 20:35:00+00:00,-73.980002,40.751662,-73.973802,40.764842,1,1,20
7,2012-01-04 17:22:00.00000081,16.50,2012-01-04 17:22:00+00:00,-73.951300,40.774138,-73.990095,40.751048,1,2,17
8,2012-12-03 13:10:00.000000125,9.00,2012-12-03 13:10:00+00:00,-74.006462,40.726713,-73.993078,40.731628,1,0,13
9,2009-09-02 01:11:00.00000083,8.90,2009-09-02 01:11:00+00:00,-73.980658,40.733873,-73.991540,40.758138,2,2,1
10,2012-04-08 07:30:50.0000002,5.30,2012-04-08 07:30:50+00:00,-73.996335,40.737142,-73.980721,40.733559,1,6,7
12,2009-11-06 01:04:03.0000002,4.10,2009-11-06 01:04:03+00:00,-73.991601,40.744712,-73.983081,40.744682,2,4,1
13,2013-07-02 19:54:00.000000232,7.00,2013-07-02 19:54:00+00:00,-74.005360,40.728867,-74.008913,40.710907,1,1,19
14,2011-04-05 17:11:05.0000001,7.70,2011-04-05 17:11:05+00:00,-74.001821,40.737547,-73.998060,40.722788,2,1,17
16,2014-02-19 07:22:00.00000074,12.50,2014-02-19 07:22:00+00:00,-73.986430,40.760465,-73.988990,40.737075,1,2,7
17,2009-07-22 16:08:00.000000163,5.30,2009-07-22 16:08:00+00:00,-73.981060,40.737690,-73.994177,40.728412,1,2,16
18,2010-07-07 14:52:00.00000044,5.30,2010-07-07 14:52:00+00:00,-73.969505,40.784843,-73.958732,40.783357,1,2,14
19,2014-12-06 20:36:22.0000008,4.00,2014-12-06 20:36:22+00:00,-73.979815,40.751902,-73.979446,40.755481,1,5,20
20,2010-09-07 13:18:00.000000175,10.50,2010-09-07 13:18:00+00:00,-73.985382,40.747858,-73.978377,40.762070,1,1,13
21,2013-02-12 12:15:46.0000002,11.50,2013-02-12 12:15:46+00:00,-73.957954,40.779252,-73.961250,40.758787,1,1,12
22,2009-08-06 18:17:23.0000001,4.50,2009-08-06 18:17:23+00:00,-73.991707,40.770505,-73.985459,40.763671,1,3,18
23,2010-12-06 12:29:00.000000199,4.90,2010-12-06 12:29:00+00:00,-74.000632,40.747473,-73.986672,40.740577,1,0,12
24,2009-12-10 15:37:00.00000020,6.10,2009-12-10 15:37:00+00:00,-73.969622,40.756973,-73.981152,40.759712,1,3,15
25,2011-06-21 16:15:00.00000073,7.30,2011-06-21 16:15:00+00:00,-73.991875,40.754437,-73.977230,40.774323,3,1,16
27,2011-06-28 19:47:00.000000168,4.50,2011-06-28 19:47:00+00:00,-73.988893,40.760160,-73.986445,40.757857,3,1,19
28,2012-05-04 06:11:20.0000002,9.30,2012-05-04 06:11:20+00:00,-73.989258,40.690835,-74.004133,40.725690,1,4,6
29,2013-08-11 00:52:00.00000026,4.50,2013-08-11 00:52:00+00:00,-73.981020,40.737760,-73.980668,40.730497,2,6,0
30,2014-02-19 16:03:00.000000160,5.50,2014-02-19 16:03:00+00:00,-73.976075,40.752422,-73.981082,40.759285,1,2,16
31,2015-06-21 21:46:34.0000001,22.54,2015-06-21 21:46:34+00:00,-74.010483,40.717667,-73.985771,40.660366,1,6,21
32,2009-01-09 16:10:00.000000170,31.90,2009-01-09 16:10:00+00:00,-73.873027,40.773883,-73.984545,40.769545,3,4,16
...,...,...,...,...,...,...,...,...,...,...
99969,2009-01-03 12:30:00.00000065,4.50,2009-01-03 12:30:00+00:00,-73.992670,40.768332,-73.987260,40.761147,2,5,12
99970,2010-06-30 21:37:56.0000004,5.70,2010-06-30 21:37:56+00:00,-73.968700,40.758576,-73.956666,40.774972,1,2,21
99972,2012-12-04 09:03:20.0000001,7.50,2012-12-04 09:03:20+00:00,-73.993425,40.753799,-73.986415,40.760761,1,1,9
99973,2013-05-06 19:26:00.000000168,5.50,2013-05-06 19:26:00+00:00,-73.970135,40.759717,-73.979533,40.763552,1,0,19
99974,2011-11-02 18:50:46.0000004,6.10,2011-11-02 18:50:46+00:00,-74.003417,40.727258,-74.007893,40.739428,1,2,18
99975,2014-04-03 02:21:59.0000001,7.00,2014-04-03 02:21:59+00:00,-73.990853,40.742277,-73.978987,40.762409,3,3,2
99976,2014-08-12 06:45:00.0000009,6.00,2014-08-12 06:45:00+00:00,-73.992537,40.743082,-74.004790,40.751307,1,1,6
99977,2014-10-08 02:35:00.00000033,7.00,2014-10-08 02:35:00+00:00,-73.985865,40.746627,-73.973240,40.764397,1,2,2
99978,2010-06-21 08:54:10.0000003,5.30,2010-06-21 08:54:10+00:00,-73.954778,40.783353,-73.963031,40.772305,1,0,8
99979,2010-06-27 22:21:25.0000003,6.90,2010-06-27 22:21:25+00:00,-73.985788,40.755992,-73.986090,40.756091,1,6,22
99980,2011-03-21 15:05:00.000000136,14.10,2011-03-21 15:05:00+00:00,-73.984670,40.761037,-74.016033,40.714663,2,0,15
99981,2011-07-30 18:10:00.000000139,16.90,2011-07-30 18:10:00+00:00,-73.955607,40.782738,-74.009868,40.746623,2,5,18
99982,2009-05-19 22:47:00.00000099,4.50,2009-05-19 22:47:00+00:00,-73.968073,40.761478,-73.973773,40.756237,2,1,22
99983,2010-06-03 08:27:00.000000184,8.90,2010-06-03 08:27:00+00:00,-73.982137,40.775522,-73.972260,40.759723,1,3,8
99984,2013-05-31 23:05:48.0000001,13.00,2013-05-31 23:05:48+00:00,-73.988230,40.779344,-73.984451,40.745273,1,4,23
99985,2009-06-27 00:47:00.00000058,4.90,2009-06-27 00:47:00+00:00,-73.980930,40.729518,-73.986248,40.738617,1,5,0
99986,2014-08-23 10:09:52.0000003,118.00,2014-08-23 10:09:52+00:00,-74.114228,40.815658,-74.114228,40.815657,1,5,10
99987,2015-06-19 11:29:31.0000004,6.00,2015-06-19 11:29:31+00:00,-73.946312,40.777363,-73.955620,40.764187,1,4,11
99988,2011-03-05 10:01:58.0000004,11.70,2011-03-05 10:01:58+00:00,-73.990850,40.751173,-73.955861,40.776090,3,5,10
99989,2012-01-30 01:40:00.0000008,5.30,2012-01-30 01:40:00+00:00,-73.992065,40.759142,-73.979150,40.762897,1,0,1
99990,2014-09-07 03:36:58.0000001,13.00,2014-09-07 03:36:58+00:00,-73.991776,40.726911,-73.961307,40.777582,2,6,3
99991,2010-09-05 13:20:15.0000002,7.30,2010-09-05 13:20:15+00:00,-73.981985,40.772621,-73.979556,40.761642,1,6,13
99992,2010-09-20 10:53:47.0000002,8.10,2010-09-20 10:53:47+00:00,-73.977654,40.755043,-73.980549,40.767858,1,0,10
99993,2010-11-24 21:04:00.000000158,11.70,2010-11-24 21:04:00+00:00,-73.989213,40.741312,-73.954110,40.784308,2,2,21
99994,2011-09-16 09:41:47.0000003,5.70,2011-09-16 09:41:47+00:00,-73.990414,40.751587,-73.983610,40.744057,1,4,9
99995,2013-09-24 07:39:00.00000071,9.00,2013-09-24 07:39:00+00:00,-73.947977,40.784792,-73.964262,40.792347,5,1,7
99996,2014-05-15 12:15:45.0000001,6.00,2014-05-15 12:15:45+00:00,-73.962918,40.799107,-73.974178,40.786487,1,3,12
99997,2015-02-19 17:40:43.0000001,5.00,2015-02-19 17:40:43+00:00,-73.996773,40.723549,-73.991974,40.724724,1,3,17
99998,2009-10-10 23:35:00.000000165,6.90,2009-10-10 23:35:00+00:00,-73.983652,40.756667,-73.982715,40.767067,4,5,23
99999,2010-11-09 16:09:00.00000015,5.70,2010-11-09 16:09:00+00:00,-73.975663,40.791653,-73.982267,40.774968,1,1,16

In [155]:
#sns.lmplot(x = 'pickup_longitude', y = 'pickup_latitude',data = df, fit_reg = False, height = 20, scatter_kws = {'alpha' : 0.01, 's':6})